{% extends "layouts/default" %}
{% block content %}
    {% if article.files.length %}
        <div data-carousel class="mv-carousel">
            <div class="wrapper">
                <ul data-slides class="mv-slides">
                    {% for item in article.files %}
                        <li class="mv-li">{{ macro.assets_image(item) }}</li>
                    {% endfor %}
                </ul>
            </div>
            <span class="icon-chevron-left arrow left"></span>
            <span class="icon-chevron-right arrow right"></span>
        </div>
    {% endif %}

    <h1 class="mv-title">{{ article.title }}</h1>
    <div class="mv-content">{{ article.description | safe }}</div>

{% endblock %}