<div id="login_container" class="black_shaddow" >
    <div class="error_wrapper">
        <div class="error">{{translations['Error: 404']}}</div>
        <ul>
            <li>{{translations['Something went terribly wrong, but most likely it is not your fault.']}}</li>
            <li>{{translations['Open the home page and try to find the information of interest.']}}</li>
            <li>{{translations['Press the back button in your broswer and then click another link.']}}</li>
            <li><a href="/admin/">{{translations['Admin']}}</a></li>
        </ul>
    </div>
</div>
