<div id="login_container" class="black_shaddow" >
    <form id="login">
        <label>{{translations['Username']}}</label>
        <div class="input black_shaddow">
            <input type="text" name="username" placeholder="{{translations['Enter your username']}}">
        </div>
        <label>{{translations['Password']}}</label>
        <div class="input black_shaddow">
            <input type="password" name="password" placeholder="{{translations['Enter your password']}}">
        </div>
        <button id="submit" class="blackglossyCSSButtonbutton" ng-click="login()">{{translations['Login']}}</button>
    </form>
</div>
