<div class="article" >

    <div  class="title">{{title}}</div>

    <div id="youtube_wrapper" ng-switch on="haveYoutube">
        <iframe ng-switch-when="true"  width="600" height="300" data-ng-src="{{youtube}}" frameborder="0" allowfullscreen></iframe>
    </div>

    <ul class="photogalery {{hasImagesClass}}">
        <li ng-repeat="image in images">
            <img data-ng-src="{{image.src}}">
        </li>
    </ul>

    <div ng-bind-html-unsafe="short_description"  class="short_description"></div>
    <div ng-bind-html-unsafe="description"  class="description"></div>


</div>

