<div id="pagination" ng-controller="PaginationCtrl">
    <div class="wrapper">

        <!--
        <a href="/">&lt;&lt; </a>
        <a href="/">&lt; </a>
        <span>&lt;&lt;</span>
        <span>&lt; </span>
        -->
        <a  ng-repeat="item in pages" data-ng-href="{{item.href}}"  class="{{item.cssClass}}">{{item.title}}</a>
        <!---
            <a href="/"> &gt;</a>
            <a href="/"> &gt;&gt;</a>
            <span> &gt;&gt;</span>
            <span> &gt;&gt;</span>
         -->
        <div class="clear"></div>
    </div>
    <div class="pagination_info">You are on page: {{current}} of {{max}}</div>
</div>