<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
<h4>Headline: {{name}}</h4>
<p>
    Action id: {{id}} name: {{name}} <- {{data}};
</p>
</body>
</html>
