i {
  display: inline-block;
}
body {
  overflow-x: hidden;
}
body.open {
  .mv-body{
    margin-left: 250px;
    overflow-y: hidden;
  }
  .mv-navigation {
    left: 0;
  }
}
.mv-body,
.mv-navigation {
   @include transition(all 0.3s ease);
}
.mv-body{
  width: 100%;
  margin-left: 0;
  a {
    font-weight: bold;
    color: #80B959;
    text-decoration: none;
  }
  .mv-title {
    font-family: "Open Sans", helvetica, arial, sans-serif;
    font-weight: bold;
    color: #383838;
    font-size: 2.5875rem;
  }
  .mv-subtitle {
    font-family: "Open Sans", helvetica, arial, sans-serif;
    font-weight: bold;
    color: #383838;
    font-size: 2.1875rem;
  }
  .mv-short-desc {
    line-height: 32px;
    font-size: 25px;
    color: #80B959;
  }
  hr.mv-separator {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
  }
  hr.mv-separator:after {
    content: "ยง";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
  }
  .mv-article {
    &:not(:last-child) {
      border-bottom: 1px dashed #ccc;

    }
    margin-bottom: 2em;
    padding: .6em 0 1em;
    .mv-date {
      font-family: "Open Sans", helvetica, arial, sans-serif;
      color: #9f9f9f;
      font-weight: bold;
      font-size: 0.75rem;
      text-transform: uppercase;
      position: relative;
    }
    .mv-short-desc {
      font-size: 20px;
      color: #000;
    }
    .mv-read-more{
      font-size: 18px;
    }
  }
}
.mv-header{
  background: #23282E;
  color: #ffffff;
  min-height: 300px;
  position: relative;
  .mv-title{
    font-family: Verdana;
    font-size: 80px;
    color: #ffffff;
  }
  .mv-skills {
    margin: 0;
    list-style: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 15px;
    position: relative;
    .mv-stars {
      margin-left: 10px;
      display: inline-block;
    }
    i {
      color: #80B959;
    }
  }
  .mv-me {
    margin-top: 60px;
    margin-left: 30px;
    @include border-radius(150px);
    @include box-shadow(0 0 8px rgba(0, 0, 0, .8));
  }
}
.mv-navigation-call {
  cursor: pointer;
  font-size: 20px;
  padding: 14px 15px 10px 15px;
  position: absolute;
  top: 20px;
  left: 20px;
  color: #ffffff;
  background: $secondaryColor;
  &:hover {
     background: rgba(0, 0, 0, 0.5) ;
  }
}
.mv-breadcrumbs {
  border-bottom: 1px solid #ccc;
  min-height: 40px;
  .mv-info{
    margin-top: 12px;
    margin-left: 10px;
    display: inline-block;
    font-size: 12px;
  }
  ul {
    font-size: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      float: left;
      margin-top: 10px;
      position: relative;
      padding-left: 20px;
      i {
        position: absolute;
        top: 2px;
        left: 0;
      }
    }
  }

}
.mv-container {
  min-height: 550px;
}
.mv-no-data {
  font-size: 30px;
}
.mv-navigation {
  position: fixed;
  left: -250px;
  top: 0;
  bottom: 0;
  width: 250px;
}
.mv-footer{
  background: #23282E;
  color: #ffffff;
  .mv-social-links{
    padding: 10px 0px 30px 0px;
    list-style: none;
    li:first-child{
      margin-left: 0;
    }
    li {
      float: left;
      margin-left: 20px;
    }
  }
}